#open-source.svelte-5croj8.svelte-5croj8 {
	min-height: 150vh;
	height: 3500px;
	position: relative
}

@media (min-width: 1024px) {
	#open-source.svelte-5croj8.svelte-5croj8 {
		height: 1500px
	}
}

.sticky-wrapper.svelte-5croj8.svelte-5croj8 {
	position: sticky;
	top: -15vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.25rem;
	padding-inline: 1.25rem;
	width: 100%;
	height: 130vh;
	text-align: center
}

.sticky-wrapper.svelte-5croj8.svelte-5croj8:after {
	background: linear-gradient(to top, hsl(var(--web-color-background)), hsl(var(--web-color-background)/0) 5%);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.sticky-wrapper.svelte-5croj8 .cards-wrapper.svelte-5croj8 {
	position: relative;
	height: 22.5rem;
	margin-top: 80px
}

@media (min-width: 1024px) {
	.sticky-wrapper.svelte-5croj8 h3.svelte-5croj8 {
		max-width: 61.375rem
	}

	.sticky-wrapper.svelte-5croj8 .cards-wrapper.svelte-5croj8 {
		position: absolute;
		height: 100vh;
		width: clamp(1024px, 90vw, 1440px);
		top: 0;
		left: 50%;
		transform: translate(-50%);
		margin-top: 0
	}
}

.oss-card.svelte-5croj8.svelte-5croj8 {
	background: linear-gradient(106deg, #ffffffb8, #fffc 41.9%, #fff9);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	--card-padding: 2rem;
	--w: clamp(306px, 50vw, 22.125rem);
	--h: 20.125rem;
	width: var(--w);
	height: var(--h);
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	left: calc(50% - var(--w) / 2);
	transform: translate(-1200px)
}

.oss-card.svelte-5croj8 [class*=icon].svelte-5croj8 {
	opacity: 48%
}

@media (min-width: 1024px) {
	.oss-card.svelte-5croj8.svelte-5croj8 {
		left: unset;
		transform: unset
	}

	#oss-discord.svelte-5croj8.svelte-5croj8 {
		bottom: -400px;
		left: 1%;
		transform: rotate(15deg)
	}

	#oss-github.svelte-5croj8.svelte-5croj8 {
		bottom: -400px;
		left: 19%
	}

	#oss-twitter.svelte-5croj8.svelte-5croj8 {
		bottom: -400px;
		left: clamp(20%, 22vw, 29%)
	}

	#oss-youtube.svelte-5croj8.svelte-5croj8 {
		bottom: -400px;
		left: clamp(64%, 1024px - 10vw, 70%)
	}

	#oss-commits.svelte-5croj8.svelte-5croj8 {
		bottom: -400px;
		right: 10%
	}
}

.scroll-indicator.svelte-fteumu {
	background: linear-gradient(to bottom, hsl(var(--web-color-accent)) 0%, hsl(var(--web-color-greyscale-700)) var(--percentage), hsl(var(--web-color-greyscale-700)) 100%)
}

.auth-controls.svelte-ttea5r.svelte-ttea5r.svelte-ttea5r {
	display: flex;
	flex-direction: column;
	padding: .75rem;
	width: 12.5rem
}

.auth-controls.svelte-ttea5r>div.svelte-ttea5r.svelte-ttea5r {
	display: flex;
	align-items: center
}

.auth-controls.svelte-ttea5r>div.svelte-ttea5r>.svelte-ttea5r:nth-child(2) {
	margin-left: .75rem;
	color: hsl(var(--web-color-white));
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.375rem;
	letter-spacing: -.00394rem
}

.auth-controls.svelte-ttea5r>div.svelte-ttea5r>:nth-child(3) {
	margin-left: auto
}

.auth-controls.svelte-ttea5r .sep.svelte-ttea5r.svelte-ttea5r {
	width: 100%;
	height: 1px;
	background-color: #ffffff1f;
	margin-block: .5rem
}

.auth-controls.svelte-ttea5r [class*=icon-].svelte-ttea5r.svelte-ttea5r {
	--size: 2rem;
	font-size: var(--size);
	width: var(--size);
	height: var(--size);
	color: hsl(var(--web-color-greayscale-50));
	position: relative
}

.auth-controls.svelte-ttea5r [class*=icon-].svelte-ttea5r.svelte-ttea5r:before {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

.inner-phone.svelte-1hb5j47.svelte-1hb5j47 {
	padding-block: 3rem;
	padding-inline: 1rem;
	color: #434347;
	text-align: left
}

.inner-phone.svelte-1hb5j47 .title.svelte-1hb5j47 {
	color: #434347;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: -.224px
}

.inner-phone.svelte-1hb5j47 .subtitle.svelte-1hb5j47 {
	color: var(--greyscale-700, var(--color-greyscale-700, #56565c));
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: -.196px
}

.inner-phone.svelte-1hb5j47 .inputs.svelte-1hb5j47 {
	display: flex;
	flex-direction: column;
	gap: .75rem;
	margin-block-start: 1.5rem
}

.inner-phone.svelte-1hb5j47 .inputs fieldset.svelte-1hb5j47 {
	display: flex;
	flex-direction: column;
	gap: .3125rem;
	width: 100%
}

.inner-phone.svelte-1hb5j47 .inputs fieldset label.svelte-1hb5j47 {
	color: var(--color-greyscale-700, #56565c);
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: -.168px
}

.inner-phone.svelte-1hb5j47 .inputs fieldset input.svelte-1hb5j47 {
	all: unset;
	display: flex;
	padding: 8px 12px;
	align-items: flex-start;
	align-self: stretch;
	border-radius: 8px;
	border: 1px solid #d8d8db;
	color: #434347;
	font-family: Inter;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: -.168px
}

.inner-phone.svelte-1hb5j47 .sign-up.svelte-1hb5j47 {
	padding: .375rem .75rem;
	width: 100%;
	margin-block-start: 1.25rem;
	border-radius: .5rem;
	background: var(--appwrite-purple, #7c67fe);
	box-shadow: 0 4px 8px #0000000f;
	color: var(--color-bw-white, #fff);
	text-align: center;
	font-family: Inter;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: -.07px
}

.inner-phone.svelte-1hb5j47 .with-sep.svelte-1hb5j47 {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	font-family: Inter;
	font-size: .75rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25rem;
	letter-spacing: -.0105rem;
	color: hsl(var(--web-color-greyscale-500));
	margin-block-start: .75rem
}

.inner-phone.svelte-1hb5j47 .with-sep.svelte-1hb5j47:before,
.inner-phone.svelte-1hb5j47 .with-sep.svelte-1hb5j47:after {
	content: "";
	height: 1px;
	flex-grow: 1;
	background-color: hsl(var(--web-color-greyscale-200))
}

.inner-phone.svelte-1hb5j47 .oauth-btns.svelte-1hb5j47 {
	--gap: .5rem;
	display: flex;
	flex-wrap: wrap;
	gap: var(--gap);
	margin-block-start: .75rem
}

.inner-phone.svelte-1hb5j47 .oauth.svelte-1hb5j47 {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .5rem;
	border: 1px solid #d9d9d9;
	color: hsl(var(--web-color-greyscale-750));
	text-align: center;
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.375rem;
	letter-spacing: -.01575rem;
	flex: 1 1 calc(50% - var(--gap));
	padding-block: .375rem;
	position: relative;
	height: 2.125rem
}

.inner-phone.svelte-1hb5j47 .oauth .inner.svelte-1hb5j47 {
	position: absolute;
	left: 50%;
	top: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: .5rem;
	transform: translate(-50%, -50%) scale(var(--inverse-sx, 1), var(--inverse-sy, 1))
}

.relative.svelte-zy8jmz {
	position: relative;
	overflow: hidden
}

.body.svelte-zy8jmz {
	position: absolute;
	left: 0;
	top: 0
}

.true-body.svelte-zy8jmz {
	transition: .2s ease
}

.anim-box.svelte-dzmb5w.svelte-dzmb5w {
	position: relative;
	--m-border-radius: 1rem;
	--m-border-gradient-before: linear-gradient(180deg, rgba(255, 255, 255, .12) 0%, rgba(255, 255, 255, 0) 125.11%);
	border-radius: var(--m-border-radius);
	background: hsl(var(--web-color-card));
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	padding: .5rem;
	padding-block-start: 0;
	text-align: left
}

.anim-box.svelte-dzmb5w.svelte-dzmb5w:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--m-border-radius);
	border: var(--m-border-size, 1px) solid transparent;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	pointer-events: none;
	background: var(--m-border-gradient-before) border-box
}

.anim-box.svelte-dzmb5w.svelte-dzmb5w:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--m-border-radius);
	border: var(--m-border-size, 1px) solid transparent;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	pointer-events: none;
	background: var(--m-border-gradient-after) border-box
}

.anim-box.svelte-dzmb5w .top.svelte-dzmb5w {
	color: var(--greyscale-50, #ededf0);
	font-family: Aeonik Pro;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2rem;
	letter-spacing: -.0125rem;
	padding: 1rem;
	text-align: left
}

.anim-box.svelte-dzmb5w .content.svelte-dzmb5w {
	border-radius: .75rem;
	background: #ffffff0a;
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);
	position: relative
}

.code-console.svelte-auvh6n.svelte-auvh6n {
	position: relative;
	border-radius: var(--m-border-radius);
	--p-radius: 16px;
	display: flex;
	flex-direction: column;
	background-color: hsl(var(--web-color-card));
	border-radius: var(--p-radius);
	--m-border-radius: var(--p-radius);
	--m-border-gradient-before: linear-gradient(180deg, rgba(255, 255, 255, .12) 0%, rgba(255, 255, 255, 0) 125.11%);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	min-width: 330px;
	width: fit-content;
	padding: 0 .25rem .25rem
}

.code-console.svelte-auvh6n.svelte-auvh6n:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--m-border-radius);
	border: var(--m-border-size, 1px) solid transparent;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	pointer-events: none;
	background: var(--m-border-gradient-before) border-box
}

.code-console.svelte-auvh6n.svelte-auvh6n:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--m-border-radius);
	border: var(--m-border-size, 1px) solid transparent;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	pointer-events: none;
	background: var(--m-border-gradient-after) border-box
}

.block.svelte-auvh6n.svelte-auvh6n {
	width: 100%;
	flex-grow: 1;
	text-align: left;
	border-radius: 12px;
	background: linear-gradient(129deg, #0000007a 22.38%, #0000 136.5%);
	padding: 20px;
	position: relative
}

.header.svelte-auvh6n.svelte-auvh6n {
	position: relative;
	display: flex;
	align-items: center;
	gap: .375rem;
	padding: .75rem
}

.header.svelte-auvh6n .ellipse.svelte-auvh6n {
	background-color: #ec6a5e;
	width: 8px;
	height: 8px;
	top: 12px;
	border-radius: 4px
}

.header.svelte-auvh6n .ellipse-2.svelte-auvh6n {
	background-color: #f5bf4f;
	width: 8px;
	height: 8px;
	top: 12px;
	border-radius: 4px
}

.header.svelte-auvh6n .ellipse-3.svelte-auvh6n {
	background-color: #61c554;
	width: 8px;
	height: 8px;
	top: 12px;
	border-radius: 4px
}

.code-console.svelte-auvh6n code {
	white-space: pre;
	-moz-tab-size: 4;
	tab-size: 4
}

.copy-button.svelte-1wioi2.svelte-1wioi2 {
	display: flex;
	padding: .25rem .5rem;
	align-items: center;
	gap: .375rem;
	border-radius: 62.4375rem;
	border: 1px solid rgba(255, 255, 255, .08);
	background: #ffffff0a;
	-webkit-backdrop-filter: blur(2.6666667461px);
	backdrop-filter: blur(2.6666667461px)
}

.copy-button.svelte-1wioi2 [class*=icon-].svelte-1wioi2 {
	font-size: 1.25rem;
	color: hsl(var(--web-color-greyscale-600))
}

.copy-button.svelte-1wioi2 span.svelte-1wioi2:not([class*=icon-]) {
	color: var(--greyscale-400, #adadb1);
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25rem;
	overflow: hidden;
	text-overflow: ellipsis
}

.wrapper.svelte-m0ekan {
	display: grid;
	place-items: center
}

.anim-checkbox.svelte-m0ekan {
	width: 1rem;
	height: 1rem;
	flex-shrink: 0;
	border-radius: .125rem;
	border: 1.5px solid var(--greyscale-500, #818186);
	position: relative
}

.anim-checkbox.svelte-m0ekan.anim-checkbox[data-state=checked] {
	background-color: #7c67fe;
	border-color: #7c67fe
}

[class*=icon-].svelte-m0ekan {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 1rem
}

.inner-phone.svelte-no2v1k.svelte-no2v1k {
	padding-block: 3rem;
	padding-inline: 1rem;
	color: #434347;
	text-align: left;
	position: relative;
	height: 100%
}

.inner-phone.svelte-no2v1k .header.svelte-no2v1k {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.inner-phone.svelte-no2v1k .header .title.svelte-no2v1k {
	color: var(--color-greyscale-800, #2d2d31);
	font-family: Inter;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.375rem;
	letter-spacing: -.014rem
}

.inner-phone.svelte-no2v1k .header [class*=icon-].svelte-no2v1k {
	font-size: 1.25rem;
	color: hsl(var(--web-color-greyscale-500))
}

.inner-phone.svelte-no2v1k .date.svelte-no2v1k {
	margin-block-start: 3rem;
	color: hsl(var(--web-color-greyscale-600));
	font-family: Inter;
	font-size: .75rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.25rem
}

.inner-phone.svelte-no2v1k .tasks.svelte-no2v1k {
	margin-block-start: .5rem;
	display: flex;
	flex-direction: column;
	gap: .5rem
}

.inner-phone.svelte-no2v1k .tasks .task.svelte-no2v1k {
	display: flex;
	align-items: center;
	gap: .75rem;
	border-radius: .5rem;
	border: 1px solid hsl(var(--web-color-greyscale-50));
	background: hsl(var(--web-color-white));
	color: var(--greyscale-700, var(--color-greyscale-700, #56565c));
	padding-block: .55rem;
	padding-inline: .88rem;
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.375rem;
	letter-spacing: -.00394rem;
	transition: opacity .2s ease
}

.inner-phone.svelte-no2v1k .tasks .task[data-checked].svelte-no2v1k {
	opacity: .6
}

.inner-phone.svelte-no2v1k .add-btn.svelte-no2v1k {
	position: absolute;
	right: 1rem;
	bottom: 2.5rem;
	width: 2.5rem;
	height: 2.5rem;
	flex-shrink: 0;
	box-shadow: 0 2px 6px #0000001f;
	background-color: #7c67fe;
	color: #ededf0;
	font-size: 1.5rem;
	display: grid;
	place-items: center;
	border-radius: 100%
}

.header.svelte-1gyey1x,
.row.svelte-1gyey1x {
	grid-template-columns: 7rem 1fr 1fr !important;
	gap: 1.5rem 3rem
}

.img-wrapper.svelte-1gyey1x {
	display: flex;
	align-items: center;
	gap: .5rem
}

.inner-phone.svelte-19cnfm7.svelte-19cnfm7 {
	padding-block: 3rem;
	padding-inline: 1rem;
	color: #434347;
	text-align: left;
	position: relative;
	height: 100%;
	overflow: visible
}

.inner-phone.svelte-19cnfm7 .header.svelte-19cnfm7 {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.inner-phone.svelte-19cnfm7 .header .title.svelte-19cnfm7 {
	color: var(--color-greyscale-800, #2d2d31);
	font-family: Inter;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.375rem;
	letter-spacing: -.014rem
}

.inner-phone.svelte-19cnfm7 .header [class*=icon-].svelte-19cnfm7 {
	font-size: 1.25rem;
	color: hsl(var(--web-color-greyscale-500))
}

.inner-phone.svelte-19cnfm7 .date.svelte-19cnfm7 {
	margin-block-start: 3rem;
	color: hsl(var(--web-color-greyscale-600));
	font-family: Inter;
	font-size: .75rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.25rem
}

.inner-phone.svelte-19cnfm7 .tasks.svelte-19cnfm7 {
	margin-block-start: .5rem;
	display: flex;
	flex-direction: column;
	gap: .5rem
}

.inner-phone.svelte-19cnfm7 .tasks .task.svelte-19cnfm7 {
	display: flex;
	align-items: center;
	gap: .75rem;
	border-radius: .5rem;
	border: 1px solid hsl(var(--web-color-greyscale-50));
	background: hsl(var(--web-color-white));
	color: var(--greyscale-700, var(--color-greyscale-700, #56565c));
	padding-block: .55rem;
	padding-inline: .88rem;
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.375rem;
	letter-spacing: -.00394rem;
	transition: opacity .2s ease
}

.inner-phone.svelte-19cnfm7 .tasks .task[data-checked].svelte-19cnfm7 {
	opacity: .6
}

.inner-phone.svelte-19cnfm7 .add-btn.svelte-19cnfm7 {
	position: absolute;
	right: 1rem;
	bottom: 2.5rem;
	width: 2.5rem;
	height: 2.5rem;
	flex-shrink: 0;
	box-shadow: 0 2px 6px #0000001f;
	background-color: #7c67fe;
	color: #ededf0;
	font-size: 1.5rem;
	display: grid;
	place-items: center;
	border-radius: 100%
}

.overlay.svelte-19cnfm7.svelte-19cnfm7 {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background: #00000052;
	border-radius: 2rem
}

.overlay.svelte-19cnfm7 .drawer.svelte-19cnfm7 {
	position: absolute;
	bottom: 0;
	height: 60%;
	opacity: 0;
	background-color: #fff;
	border-radius: .88463rem .88463rem 2rem 2rem;
	padding: 1rem
}

.overlay.svelte-19cnfm7 .drawer .title.svelte-19cnfm7 {
	color: #434347;
	font-family: Inter;
	font-size: .88463rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.21638rem;
	letter-spacing: -.01238rem
}

.overlay.svelte-19cnfm7 .drawer .subtitle.svelte-19cnfm7 {
	color: var(--greyscale-500, var(--color-greyscale-500, #818186));
	font-family: Inter;
	font-size: .77406rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.10575rem;
	letter-spacing: -.01081rem;
	margin-block-start: .2rem
}

.overlay.svelte-19cnfm7 .drawer .upload.svelte-19cnfm7 {
	display: flex;
	padding: .44231rem .66344rem;
	justify-content: center;
	align-items: center;
	align-self: stretch;
	border-radius: .66344rem;
	border: 1px dashed #d9d9d9;
	color: var(--greyscale-500, var(--color-greyscale-500, #818186));
	font-family: Inter;
	font-size: .77406rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.10575rem;
	letter-spacing: -.01081rem;
	margin-block-start: 2rem
}

.upload-media.svelte-19cnfm7.svelte-19cnfm7 {
	position: absolute;
	right: calc(0% - 24px);
	bottom: 8rem;
	background-color: #fff;
	box-shadow: 0 4px 24px #0000000d;
	border-radius: 1rem;
	padding: .75rem;
	opacity: 0
}

.upload-media.svelte-19cnfm7 .title.svelte-19cnfm7 {
	color: var(--color-greyscale-800, #2d2d31);
	font-family: Inter;
	font-size: .85rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.375rem;
	letter-spacing: -.014rem
}

.upload-media.svelte-19cnfm7 .drop-zone.svelte-19cnfm7 {
	display: grid;
	place-items: center;
	border: .885px dashed #d9d9d9;
	border-radius: .5rem;
	color: var(--greyscale-500, var(--color-greyscale-500, #818186));
	padding: 2rem 1.25rem;
	margin-block-start: .5rem;
	font-size: .65rem;
	font-family: Inter;
	position: relative;
	overflow: hidden
}

.upload-media.svelte-19cnfm7 .drop-zone .loading-overlay.svelte-19cnfm7 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: 100;
	display: grid;
	place-items: center
}

.upload-media.svelte-19cnfm7 img.svelte-19cnfm7 {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0
}

.images.svelte-19cnfm7.svelte-19cnfm7 {
	display: flex;
	margin-block-start: .5rem;
	gap: .5rem
}

.bottom.svelte-1rk8qwn {
	display: flex;
	align-items: center;
	gap: .5rem;
	height: 3rem;
	padding-inline: 1rem;
	color: var(--color-bw-white, #fff);
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: -.00875rem
}

.inner-phone.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	padding-block: 3rem 1.5rem;
	padding-inline: 1rem;
	color: #434347;
	text-align: left;
	position: relative;
	height: 100%;
	overflow: visible;
	display: flex;
	flex-direction: column
}

.inner-phone.svelte-h3xr78 .header.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.inner-phone.svelte-h3xr78 .header .title.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	color: #434347;
	font-family: Inter;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.375rem;
	letter-spacing: -.014rem
}

.inner-phone.svelte-h3xr78 .header [class*=icon-].svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	font-size: 1.25rem;
	color: hsl(var(--web-color-greyscale-500))
}

.inner-phone.svelte-h3xr78 .plan.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	display: flex;
	padding: .75rem 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border-radius: .75rem;
	background: #ededf080;
	margin-block-start: 1rem
}

.inner-phone.svelte-h3xr78 .plan .title.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	color: var(--color-greyscale-700, #56565c);
	font-family: Inter;
	font-size: .75rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.25rem
}

.inner-phone.svelte-h3xr78 .plan .subscription.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	display: flex;
	align-items: baseline;
	margin-block-start: .15rem
}

.inner-phone.svelte-h3xr78 .plan .subscription .price.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	color: var(--greyscale-700, var(--color-greyscale-700, #56565c));
	font-family: Inter;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1.25rem
}

.inner-phone.svelte-h3xr78 .plan .subscription .period.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	color: var(--greyscale-700, var(--color-greyscale-700, #56565c));
	font-family: Inter;
	font-size: .75rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25rem
}

.inner-phone.svelte-h3xr78 .plan ul.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	display: flex;
	flex-direction: column;
	gap: .125rem;
	margin-block-start: .75rem
}

.inner-phone.svelte-h3xr78 .plan ul li.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	color: var(--color-greyscale-500, #818186);
	font-family: Inter;
	font-size: .75rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25rem;
	padding-inline-start: 1.5rem;
	position: relative
}

.inner-phone.svelte-h3xr78 .plan ul li.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	width: 1rem;
	height: 1rem;
	top: 50%;
	transform: translateY(-50%);
	background-image: url(../../../images/animations/check-circle.svg)
}

.inner-phone.svelte-h3xr78 .methods.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	margin-block-start: 1.25rem;
	display: flex;
	gap: .75rem;
	overflow: hidden;
	margin-inline: -1rem;
	padding-inline: 1rem
}

.inner-phone.svelte-h3xr78 .methods li.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	flex-shrink: 0;
	display: flex;
	width: 5.5rem;
	padding: .75rem .75rem .625rem;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: .125rem;
	border-radius: .75rem;
	border: 1px solid var(--greyscale-50, #ededf0);
	color: var(--greyscale-700, var(--color-greyscale-700, #56565c));
	font-family: Inter;
	font-size: .75rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25rem
}

.inner-phone.svelte-h3xr78 .methods li[data-active].svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	border-color: var(--appwrite-purple, #7c67fe)
}

.inner-phone.svelte-h3xr78 .form.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	margin-block-start: 1.25rem
}

.inner-phone.svelte-h3xr78 .form.svelte-h3xr78>p.svelte-h3xr78.svelte-h3xr78 {
	color: var(--dark-neutrals-150, #373b4d);
	font-family: Inter;
	font-size: .75rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%
}

.inner-phone.svelte-h3xr78 .form .bordered.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	margin-block-start: .25rem;
	border-radius: .5rem;
	border: 1px solid #ededf0;
	background: var(--color-bw-white, #fff)
}

.inner-phone.svelte-h3xr78 .form .bordered.svelte-h3xr78>div.svelte-h3xr78.svelte-h3xr78:first-child {
	display: flex;
	gap: .25rem;
	padding: .65rem .75rem;
	border-bottom: 1px solid #ededf0
}

.inner-phone.svelte-h3xr78 .form .bordered.svelte-h3xr78>div.svelte-h3xr78:first-child>.svelte-h3xr78:nth-child(2) {
	margin-inline-start: auto
}

.inner-phone.svelte-h3xr78 .form .bordered.svelte-h3xr78>div.svelte-h3xr78.svelte-h3xr78:nth-child(2) {
	display: flex
}

.inner-phone.svelte-h3xr78 .form .bordered.svelte-h3xr78>div.svelte-h3xr78:nth-child(2)>p.svelte-h3xr78 {
	padding: .65rem .75rem
}

.inner-phone.svelte-h3xr78 .form .bordered.svelte-h3xr78>div.svelte-h3xr78:nth-child(2)>p.svelte-h3xr78:first-child {
	flex-grow: 3
}

.inner-phone.svelte-h3xr78 .form .bordered.svelte-h3xr78>div.svelte-h3xr78:nth-child(2)>p.svelte-h3xr78:last-child {
	flex-grow: 1;
	border-inline-start: 1px solid #ededf0
}

.inner-phone.svelte-h3xr78 .form .bordered p.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	color: var(--light-neutrals-50, #c4c6d7);
	font-family: Inter;
	font-size: .75rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%
}

.inner-phone.svelte-h3xr78>button.svelte-h3xr78.svelte-h3xr78.svelte-h3xr78 {
	display: flex;
	padding: .5rem 1rem;
	justify-content: center;
	align-items: center;
	gap: .25rem;
	border-radius: .5rem;
	background: var(--appwrite-purple, #7c67fe);
	box-shadow: 0 4px 8px #0000000f;
	color: var(--color-bw-white, #fff);
	text-align: center;
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.375rem;
	letter-spacing: -.01225rem;
	margin-block-start: auto;
	white-space: nowrap
}

.flow.svelte-1yz7tw0.svelte-1yz7tw0 {
	display: flex;
	align-items: center
}

.flow-v.svelte-1yz7tw0.svelte-1yz7tw0 {
	display: flex;
	flex-direction: column
}

.gap-8.svelte-1yz7tw0.svelte-1yz7tw0 {
	gap: .5rem
}

.gap-12.svelte-1yz7tw0.svelte-1yz7tw0 {
	gap: .75rem
}

.sq-32.svelte-1yz7tw0.svelte-1yz7tw0 {
	width: 2rem;
	height: 2rem
}

.wrap.svelte-1yz7tw0.svelte-1yz7tw0 {
	flex-wrap: wrap
}

.capitalize.svelte-1yz7tw0.svelte-1yz7tw0 {
	text-transform: capitalize
}

.mbs-8.svelte-1yz7tw0.svelte-1yz7tw0 {
	margin-block-start: .5rem
}

.tgl-avatars.svelte-1yz7tw0.svelte-1yz7tw0 {
	display: flex
}

.tgl-avatars.svelte-1yz7tw0 .tgl-avatar.svelte-1yz7tw0:not(:first-child) {
	margin-inline-start: -.5rem
}

.tgl-avatar.svelte-1yz7tw0.svelte-1yz7tw0 {
	--size: 1.25rem;
	width: var(--size);
	height: var(--size);
	display: grid;
	place-items: center;
	text-align: center;
	border-radius: 100%;
	color: #fff;
	font-size: .65rem;
	background-color: var(--color)
}

.tgl-tag.svelte-1yz7tw0.svelte-1yz7tw0 {
	padding: .25rem .4375rem;
	border-radius: .21713rem;
	border: .869px solid #ededf0;
	box-shadow: 0 1.73704px 3.47408px #0000000f;
	color: #818186;
	font-family: Inter;
	font-size: .625rem;
	font-style: normal;
	font-weight: 500;
	line-height: .75rem;
	letter-spacing: -.00875rem;
	text-transform: capitalize
}

.vertical-sep.svelte-1yz7tw0.svelte-1yz7tw0 {
	width: 1px;
	height: 100%;
	background-color: #ededf0
}

hr.svelte-1yz7tw0.svelte-1yz7tw0 {
	border-bottom: 1px solid hsl(var(--web-color-greyscale-50));
	margin-block: 1rem
}

.dashed-btn.svelte-1yz7tw0.svelte-1yz7tw0 {
	display: flex;
	padding: .5rem .875rem;
	justify-content: center;
	align-items: center;
	gap: .5rem;
	align-self: stretch;
	border-radius: .625rem;
	border: 1px dashed hsl(var(--web-color-greyscale-50));
	color: #56565c
}

.dashed-btn.svelte-1yz7tw0 .text.svelte-1yz7tw0 {
	font-family: Inter;
	font-size: .8rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.08563rem
}

.dashed-btn.svelte-1yz7tw0 [class*=icon].svelte-1yz7tw0 {
	font-size: 1rem
}

.task.svelte-1yz7tw0.svelte-1yz7tw0 {
	display: flex;
	padding: .625rem .875rem;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: .5rem;
	border-radius: .625rem;
	border: 1px solid #ededf0;
	background: var(--color-bw-white, #fff)
}

.task.svelte-1yz7tw0 .text.svelte-1yz7tw0 {
	color: #56565c;
	font-family: Inter;
	font-size: .75rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1rem
}

.user.svelte-1yz7tw0.svelte-1yz7tw0 {
	position: absolute;
	left: 50%;
	top: 50%;
	fill: var(--color)
}

.user.svelte-1yz7tw0 .text.svelte-1yz7tw0 {
	position: absolute;
	left: 100%;
	bottom: 0;
	transform: translate(-4px) translateY(50%);
	border-radius: 0rem .375rem .375rem;
	background: var(--color);
	box-shadow: 0 2px 4px #0000000f;
	padding: .25rem .5rem;
	color: var(--color-bw-white, #fff);
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1rem;
	letter-spacing: -.01225rem
}

.wrapper.svelte-1yz7tw0.svelte-1yz7tw0 {
	height: 100%;
	position: relative
}

.inner-phone.svelte-1yz7tw0.svelte-1yz7tw0 {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 1.25rem;
	overflow: hidden
}

.inner-phone.svelte-1yz7tw0 .header.svelte-1yz7tw0 {
	display: flex;
	flex-direction: column;
	gap: .5rem
}

.inner-phone.svelte-1yz7tw0 .header .row.svelte-1yz7tw0 {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.inner-phone.svelte-1yz7tw0 .header .row .title.svelte-1yz7tw0 {
	color: var(--color-greyscale-800, #2d2d31);
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.25rem;
	letter-spacing: -.01225rem
}

.inner-phone.svelte-1yz7tw0 .header .row .search.svelte-1yz7tw0 {
	display: flex;
	align-items: center;
	gap: .25rem;
	padding: .25rem;
	width: 12rem;
	border-radius: .5rem;
	border: 1.869px solid var(--greyscale-50, #ededf0)
}

.inner-phone.svelte-1yz7tw0 .header .row .search [class*=icon].svelte-1yz7tw0 {
	font-size: 1rem
}

.inner-phone.svelte-1yz7tw0 .header .row .search .text.svelte-1yz7tw0 {
	color: var(--greyscale-300, #adadb0);
	font-family: Inter;
	font-size: .7rem;
	font-style: normal;
	font-weight: 500;
	line-height: .875rem
}

.inner-phone.svelte-1yz7tw0 .header .row .btn.svelte-1yz7tw0 {
	display: inline-flex;
	padding: .125rem .25rem;
	justify-content: center;
	align-items: center;
	gap: .125rem;
	border-radius: .25rem;
	border: .869px solid var(--greyscale-50, #ededf0);
	color: var(--greyscale-600, #6c6c71);
	font-family: Inter;
	font-size: .625rem;
	font-style: normal;
	font-weight: 500;
	line-height: .875rem
}

.inner-phone.svelte-1yz7tw0 .content.svelte-1yz7tw0 {
	display: grid;
	grid-template-columns: 1fr 1px 1fr 1px 1fr;
	gap: 1rem;
	height: 100%
}

.inner-phone.svelte-1yz7tw0 .content .column.svelte-1yz7tw0 {
	flex: 1 0 auto
}

.inner-phone.svelte-1yz7tw0 .content .column .title.svelte-1yz7tw0 {
	display: flex;
	align-items: center;
	gap: .5rem
}

.inner-phone.svelte-1yz7tw0 .content .column .title .text.svelte-1yz7tw0 {
	color: var(--greyscale-600, #6c6c71);
	font-family: Inter;
	font-size: .625rem;
	font-style: normal;
	font-weight: 500;
	line-height: .875rem
}

.inner-phone.svelte-1yz7tw0 .content .column .title .tgl-inline-tag.svelte-1yz7tw0 {
	display: grid;
	place-items: center;
	padding: 0rem .21713rem .1rem;
	border-radius: .21713rem;
	background: var(--greyscale-50, #ededf0);
	color: var(--greyscale-600, #6c6c71);
	font-family: Inter;
	font-size: .625rem;
	font-style: normal;
	font-weight: 500;
	line-height: .875rem
}

.inner-phone.svelte-1yz7tw0 .content .column .title [class*=icon].svelte-1yz7tw0 {
	font-size: 1rem;
	margin-inline-start: auto
}

.graph-box.svelte-1yz7tw0.svelte-1yz7tw0 {
	position: relative;
	border-radius: var(--m-border-radius);
	--m-border-gradient-before: linear-gradient(180deg, rgba(255, 255, 255, .12) 0%, rgba(255, 255, 255, 0) 125.11%);
	--m-border-radius: 1rem;
	position: absolute;
	right: 2rem;
	bottom: -10rem;
	background: var(--card, rgba(35, 35, 37, .9));
	box-shadow: 0 0 #0000000f, -2px 4px 9px #0000000f, -8px 15px 17px #0000000d, -19px 34px 23px #00000008, -33px 60px 27px #00000003, -52px 94px 30px #0000;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	padding-block: 1.5rem;
	z-index: 9999
}

.graph-box.svelte-1yz7tw0.svelte-1yz7tw0:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--m-border-radius);
	border: var(--m-border-size, 1px) solid transparent;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	pointer-events: none;
	background: var(--m-border-gradient-before) border-box
}

.graph-box.svelte-1yz7tw0.svelte-1yz7tw0:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--m-border-radius);
	border: var(--m-border-size, 1px) solid transparent;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	pointer-events: none;
	background: var(--m-border-gradient-after) border-box
}

.graph-box.svelte-1yz7tw0 .title.svelte-1yz7tw0,
.graph-box.svelte-1yz7tw0 .subtitle.svelte-1yz7tw0 {
	padding-inline: 1.88rem
}

.graph-box.svelte-1yz7tw0 .title.svelte-1yz7tw0 {
	color: #e4e4e7;
	font-family: Aeonik Pro;
	font-size: 2rem;
	font-style: normal;
	font-weight: 400;
	line-height: 2.25rem
}

.graph-box.svelte-1yz7tw0 .subtitle.svelte-1yz7tw0 {
	color: #adadb0;
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.125rem
}

.graph-box.svelte-1yz7tw0>svg.svelte-1yz7tw0 {
	margin-block-start: 1.25rem;
	margin-inline: .5rem 1.5rem
}

.header.svelte-k5fhz.svelte-k5fhz,
.row.svelte-k5fhz.svelte-k5fhz {
	grid-template-columns: 7rem 1fr 1fr !important;
	gap: 1.5rem 3rem
}

.copy-button.svelte-k5fhz.svelte-k5fhz {
	display: flex;
	padding: .25rem .5rem;
	align-items: center;
	justify-content: space-between;
	gap: .375rem;
	border-radius: 62.4375rem;
	border: 1px solid rgba(255, 255, 255, .08);
	background: #ffffff0a;
	-webkit-backdrop-filter: blur(2.6666667461px);
	backdrop-filter: blur(2.6666667461px)
}

.copy-button.svelte-k5fhz [class*=icon-].svelte-k5fhz {
	font-size: 1.25rem;
	color: hsl(var(--web-color-greyscale-600))
}

.copy-button.svelte-k5fhz span.svelte-k5fhz:not([class*=icon-]) {
	color: var(--greyscale-400, #adadb1);
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25rem;
	overflow: hidden;
	text-overflow: ellipsis
}

.icon-button.svelte-k5fhz.svelte-k5fhz {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5rem
}

.icon-button.svelte-k5fhz .icon.svelte-k5fhz {
	border: 1px solid rgba(255, 255, 255, .08);
	background: #ffffff0a;
	-webkit-backdrop-filter: blur(2.6666667461px);
	backdrop-filter: blur(2.6666667461px);
	border-radius: 100%;
	height: 2rem;
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center
}

.icon-button.svelte-k5fhz span.svelte-k5fhz:not([class*=icon-]) {
	color: var(--greyscale-400, #adadb1);
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25rem;
	overflow: hidden;
	text-overflow: ellipsis
}

.status-indicator.svelte-k5fhz.svelte-k5fhz {
	display: flex;
	align-items: center;
	justify-content: center
}

.status-indicator.svelte-k5fhz [class*=icon-].svelte-k5fhz {
	font-size: 1.25rem;
	color: hsl(var(--web-color-greyscale-600))
}

.push-notification.svelte-vkijv6.svelte-vkijv6.svelte-vkijv6 {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 20px;
	padding: .5rem;
	margin: 0 auto;
	width: 125%;
	height: 60px;
	gap: .75rem;
	left: 50%;
	transform: translate(-50%);
	z-index: 1000;
	border-radius: 20px;
	background: #fffc;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	box-shadow: 3px -8px 32px #0000003d
}

.push-notification.svelte-vkijv6 .icon.svelte-vkijv6.svelte-vkijv6 {
	height: 38px;
	width: 38px;
	flex-shrink: 0;
	border-radius: 10px;
	background-image: linear-gradient(180deg, #7c67fe, #4a3e98)
}

.push-notification.svelte-vkijv6 .header.svelte-vkijv6.svelte-vkijv6 {
	display: flex;
	justify-content: space-between
}

.push-notification.svelte-vkijv6 .header.svelte-vkijv6 .title.svelte-vkijv6 {
	color: var(--color-greyscale-800, #2d2d31);
	font-family: Inter;
	font-size: .75rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1rem;
	letter-spacing: -.014rem
}

.push-notification.svelte-vkijv6 .header .time.svelte-vkijv6.svelte-vkijv6,
.push-notification.svelte-vkijv6 .message.svelte-vkijv6.svelte-vkijv6 {
	color: var(--color-greyscale-700, #56565c);
	font-family: Inter;
	font-size: .75rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1rem;
	letter-spacing: -.014rem
}

.inner-phone.svelte-vkijv6.svelte-vkijv6.svelte-vkijv6 {
	padding-block: 3rem 1.5rem;
	padding-inline: 1rem;
	color: #434347;
	text-align: left;
	position: relative;
	height: 100%;
	overflow: visible;
	display: flex;
	flex-direction: column
}

.inner-phone.svelte-vkijv6 .header.svelte-vkijv6.svelte-vkijv6 {
	display: flex;
	justify-content: space-between;
	align-items: center
}

.inner-phone.svelte-vkijv6 .header.svelte-vkijv6 .title.svelte-vkijv6 {
	color: var(--color-greyscale-800, #2d2d31);
	font-family: Inter;
	font-size: 1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.375rem;
	letter-spacing: -.014rem
}

.inner-phone.svelte-vkijv6 .header [class*=icon-].svelte-vkijv6.svelte-vkijv6 {
	font-size: 1.25rem;
	color: hsl(var(--web-color-greyscale-500))
}

.inner-phone.svelte-vkijv6 .date.svelte-vkijv6.svelte-vkijv6 {
	margin-block-start: 3rem;
	color: hsl(var(--web-color-greyscale-600));
	font-family: Inter;
	font-size: .75rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.25rem
}

.inner-phone.svelte-vkijv6 .tasks.svelte-vkijv6.svelte-vkijv6 {
	margin-block-start: .5rem;
	display: flex;
	flex-direction: column;
	gap: .5rem
}

.inner-phone.svelte-vkijv6 .tasks .task.svelte-vkijv6.svelte-vkijv6 {
	display: flex;
	align-items: center;
	gap: .75rem;
	border-radius: .5rem;
	border: 1px solid hsl(var(--web-color-greyscale-50));
	background: hsl(var(--web-color-white));
	color: var(--greyscale-700, var(--color-greyscale-700, #56565c));
	padding-block: .55rem;
	padding-inline: .88rem;
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.375rem;
	letter-spacing: -.00394rem;
	transition: opacity .2s ease
}

.inner-phone.svelte-vkijv6 .tasks .task[data-checked].svelte-vkijv6.svelte-vkijv6 {
	opacity: .6
}

.inner-phone.svelte-vkijv6 .add-btn.svelte-vkijv6.svelte-vkijv6 {
	position: absolute;
	right: 1rem;
	bottom: 2.5rem;
	width: 2.5rem;
	height: 2.5rem;
	flex-shrink: 0;
	box-shadow: 0 2px 6px #0000001f;
	background-color: #7c67fe;
	color: #ededf0;
	font-size: 1.5rem;
	display: grid;
	place-items: center;
	border-radius: 100%
}

.f-eyebrow.svelte-f8r6y5.svelte-f8r6y5 {
	color: #adadb0;
	font-family: Inter;
	font-size: .75rem;
	font-style: normal;
	font-weight: 500;
	line-height: 150%;
	letter-spacing: .09rem;
	text-transform: uppercase
}

.f-display.svelte-f8r6y5.svelte-f8r6y5 {
	color: #ededf0;
	font-family: Aeonik Pro;
	font-size: 2rem;
	font-style: normal;
	font-weight: 500;
	line-height: 2.25rem
}

.f-tiny-display.svelte-f8r6y5.svelte-f8r6y5 {
	color: var(--greyscale-50, #ededf0);
	text-align: center;
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1rem
}

.f-sub.svelte-f8r6y5.svelte-f8r6y5 {
	color: #97979b;
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.125rem
}

.f-idk.svelte-f8r6y5.svelte-f8r6y5 {
	color: var(--primary, #e4e4e7);
	text-align: right;
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	opacity: 40%
}

.mbs-16.svelte-f8r6y5.svelte-f8r6y5 {
	margin-block-start: 1rem
}

.mbs-4.svelte-f8r6y5.svelte-f8r6y5 {
	margin-block-start: .25rem
}

.justify-between.svelte-f8r6y5.svelte-f8r6y5 {
	justify-content: space-between
}

.gradient-box.svelte-f8r6y5.svelte-f8r6y5 {
	position: relative;
	border-radius: var(--m-border-radius);
	--m-border-gradient-before: linear-gradient(180deg, rgba(255, 255, 255, .12) 0%, rgba(255, 255, 255, 0) 125.11%);
	--m-border-radius: 1rem;
	position: absolute;
	background: var(--card, rgba(35, 35, 37, .9));
	box-shadow: 0 0 #0000000f, -2px 4px 9px #0000000f, -8px 15px 17px #0000000d, -19px 34px 23px #00000008, -33px 60px 27px #00000003, -52px 94px 30px #0000;
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	padding: 1.5rem;
	z-index: 9999;
	min-width: 20rem
}

.gradient-box.svelte-f8r6y5.svelte-f8r6y5:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--m-border-radius);
	border: var(--m-border-size, 1px) solid transparent;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	pointer-events: none;
	background: var(--m-border-gradient-before) border-box
}

.gradient-box.svelte-f8r6y5.svelte-f8r6y5:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--m-border-radius);
	border: var(--m-border-size, 1px) solid transparent;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	pointer-events: none;
	background: var(--m-border-gradient-after) border-box
}

@keyframes svelte-f8r6y5-fadeIn {
	0% {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

.gradient-overlay.svelte-f8r6y5.svelte-f8r6y5 {
	position: absolute;
	z-index: 100;
	bottom: -7.5rem;
	width: 100%;
	height: 30rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.25rem;
	padding-block-start: 15rem;
	opacity: 0;
	animation: svelte-f8r6y5-fadeIn .75s ease-in-out 1.5s forwards
}

.gradient-overlay.svelte-f8r6y5.svelte-f8r6y5:before {
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	background: #19191dcc;
	filter: blur(67px)
}

.gradient-overlay.svelte-f8r6y5 h3.svelte-f8r6y5 {
	position: relative;
	color: var(--primary, #e4e4e7);
	text-align: center;
	font-family: Aeonik Pro;
	font-size: 4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 4.25rem;
	letter-spacing: -.04rem
}

.gradient-overlay.svelte-f8r6y5 p.svelte-f8r6y5 {
	position: relative;
	color: var(--secondary, #adadb0);
	font-family: Inter;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.75rem;
	letter-spacing: -.0175rem;
	max-width: 40rem;
	text-align: center
}

.auth.svelte-f8r6y5.svelte-f8r6y5 {
	opacity: 0;
	left: 4rem;
	top: -11rem
}

.storage.svelte-f8r6y5.svelte-f8r6y5 {
	opacity: 0;
	left: -10rem;
	top: -2rem
}

.bandwidth.svelte-f8r6y5.svelte-f8r6y5 {
	opacity: 0;
	left: -4rem;
	top: 11rem
}

.functions.svelte-f8r6y5.svelte-f8r6y5 {
	opacity: 0;
	left: -6rem;
	top: 35rem
}

.databases.svelte-f8r6y5.svelte-f8r6y5 {
	opacity: 0;
	top: -13rem;
	right: 10rem
}

.requests.svelte-f8r6y5.svelte-f8r6y5 {
	opacity: 0;
	top: 17rem;
	right: -18rem
}

.realtime.svelte-f8r6y5.svelte-f8r6y5 {
	opacity: 0;
	top: -1rem;
	right: -7rem
}

:root,
.light.svelte-1apj415 {
	--shadow-bg-color: #f2c8d6;
	--shadow-border-color: #f69db7;
	--shadow-opacity: .4
}

.dark.svelte-1apj415 {
	--shadow-bg-color: #2c2c2f;
	--shadow-border-color: #39393c;
	--shadow-opacity: .13
}

.badge.svelte-1apj415 {
	background: radial-gradient(98.13% 199.7% at 98.13% 100%, #fe6947, #fd366e 41.6%, #fd366e);
	box-shadow: .1875rem .1875rem var(--shadow-bg-color), .25rem .1875rem var(--shadow-border-color), .1875rem .25rem var(--shadow-border-color), .125rem .1875rem var(--shadow-border-color), .1875rem .125rem var(--shadow-border-color)
}

#products.svelte-1v6kw7k.svelte-1v6kw7k.svelte-1v6kw7k {
	min-height: 500vh;
	height: fit-content;
	position: relative;
	--debug-bg: transparent;
	display: none
}

@media (min-width: 1400px) {
	#products.svelte-1v6kw7k.svelte-1v6kw7k.svelte-1v6kw7k {
		display: block
	}
}

.sticky-wrapper.svelte-1v6kw7k.svelte-1v6kw7k.svelte-1v6kw7k {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 1rem;
	position: sticky;
	top: 0;
	min-height: 50rem;
	overflow: hidden;
	padding-inline: 1.25rem;
	width: 100%;
	height: 60vh
}

.sticky-wrapper.svelte-1v6kw7k>.main-text.svelte-1v6kw7k.svelte-1v6kw7k {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 5rem;
	text-align: center
}

.sticky-wrapper.svelte-1v6kw7k>.main-text h2.svelte-1v6kw7k.svelte-1v6kw7k {
	white-space: nowrap;
	margin-top: 1.5rem
}

.sticky-wrapper.svelte-1v6kw7k>.main-text p.svelte-1v6kw7k.svelte-1v6kw7k {
	margin-top: 1.25rem;
	max-width: 48.875rem
}

@media (min-width: 1024px) {
	.sticky-wrapper.svelte-1v6kw7k>.main-text h2.svelte-1v6kw7k.svelte-1v6kw7k {
		max-width: 61.375rem
	}
}

.products.svelte-1v6kw7k.svelte-1v6kw7k.svelte-1v6kw7k:not([data-active]) {
	opacity: 0
}

.products[data-active].svelte-1v6kw7k.svelte-1v6kw7k.svelte-1v6kw7k {
	opacity: 1
}

.products.svelte-1v6kw7k.svelte-1v6kw7k.svelte-1v6kw7k {
	background: var(--debug-bg, hsla(250, 50%, 50%, .25));
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 77.75rem;
	position: relative;
	transition: .2s ease
}

.products.svelte-1v6kw7k .text.svelte-1v6kw7k.svelte-1v6kw7k {
	background: var(--debug-bg, hsla(200, 50%, 50%, .25));
	display: flex;
	flex-grow: 1;
	max-width: 25rem;
	position: relative
}

.products.svelte-1v6kw7k .text .descriptions.svelte-1v6kw7k.svelte-1v6kw7k {
	margin-inline-start: 2rem;
	text-align: left;
	position: absolute;
	width: 100%
}

.products.svelte-1v6kw7k .text .descriptions.svelte-1v6kw7k>li.svelte-1v6kw7k {
	transition: .1s ease
}

.products.svelte-1v6kw7k .text .descriptions.svelte-1v6kw7k>li.svelte-1v6kw7k:not(:first-child) {
	padding-block-start: 1.5rem
}

.products.svelte-1v6kw7k .text .descriptions>li[data-active] h3.svelte-1v6kw7k.svelte-1v6kw7k {
	color: hsl(var(--web-color-primary));
	margin-block-end: .75rem
}

.products.svelte-1v6kw7k .text .descriptions h3.svelte-1v6kw7k.svelte-1v6kw7k {
	display: flex;
	align-items: center;
	gap: .75rem
}

.products.svelte-1v6kw7k .text .descriptions h4.svelte-1v6kw7k.svelte-1v6kw7k {
	color: hsl(var(--web-color-primary))
}

.products.svelte-1v6kw7k .text .descriptions p.svelte-1v6kw7k.svelte-1v6kw7k {
	margin-block-start: 1rem
}

.products.svelte-1v6kw7k .text .descriptions .features.svelte-1v6kw7k.svelte-1v6kw7k {
	display: flex;
	flex-direction: column;
	gap: .75rem;
	margin-block-start: 2rem
}

.products.svelte-1v6kw7k .text .descriptions .features li.svelte-1v6kw7k.svelte-1v6kw7k {
	--marker-size: 1.25rem;
	--margin-left: calc(var(--marker-size) + .75rem);
	position: relative;
	margin-inline-start: var(--margin-left)
}

.products.svelte-1v6kw7k .text .descriptions .features li.svelte-1v6kw7k.svelte-1v6kw7k:before {
	content: "";
	position: absolute;
	left: calc(var(--margin-left) * -1);
	top: 50%;
	width: var(--marker-size);
	height: var(--marker-size);
	transform: translateY(-50%);
	background: url(../../../images/icons/colored/check.svg) no-repeat
}

.animated.svelte-1v6kw7k.svelte-1v6kw7k.svelte-1v6kw7k {
	background: var(--debug-bg, hsla(100, 50%, 50%, .25));
	width: min(42rem, 50vw);
	height: min(38.75rem, 90vh);
	position: relative
}

.phone.svelte-1v6kw7k.svelte-1v6kw7k.svelte-1v6kw7k {
	position: relative;
	border-radius: var(--m-border-radius);
	--m-border-size: 1px;
	--m-border-radius: 2.5rem;
	--m-border-gradient-after: linear-gradient(180deg, rgba(255, 255, 255, .12) 0%, rgba(255, 255, 255, 0) 125.11%);
	background: #ffffff14;
	padding: .5rem;
	width: 275px;
	height: 550px;
	flex-shrink: 0;
	position: absolute;
	top: 0;
	left: 50%;
	z-index: 10;
	opacity: 1
}

.phone.svelte-1v6kw7k.svelte-1v6kw7k.svelte-1v6kw7k:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--m-border-radius);
	border: var(--m-border-size, 1px) solid transparent;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	pointer-events: none;
	background: var(--m-border-gradient-before) border-box
}

.phone.svelte-1v6kw7k.svelte-1v6kw7k.svelte-1v6kw7k:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--m-border-radius);
	border: var(--m-border-size, 1px) solid transparent;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	pointer-events: none;
	background: var(--m-border-gradient-after) border-box
}

.phone.svelte-1v6kw7k .inner.svelte-1v6kw7k.svelte-1v6kw7k {
	background-color: #fff;
	border-radius: 2rem;
	width: 100%;
	height: 100%;
	position: relative
}

.phone.svelte-1v6kw7k .inner.svelte-1v6kw7k.svelte-1v6kw7k:after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: .5rem;
	border-radius: 100rem;
	background: var(--label-color-light-primary, #000);
	width: 6.25rem;
	height: .25rem
}

.box-wrapper.svelte-1v6kw7k.svelte-1v6kw7k.svelte-1v6kw7k {
	position: absolute;
	top: 0;
	z-index: 0;
	opacity: 0;
	width: 25rem;
	transform: translate(16.5rem) translateY(2rem)
}

.box-wrapper.svelte-1v6kw7k .pseudo-table .header,
.box-wrapper.svelte-1v6kw7k .pseudo-table .row {
	display: grid;
	grid-template-columns: 10rem 1fr;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem 3rem
}

.box-wrapper.svelte-1v6kw7k .pseudo-table .header {
	border-bottom: 1px solid hsl(var(--web-color-greyscale-700));
	color: var(--greyscale-400, #adadb1);
	text-transform: uppercase;
	padding: 1rem
}

.box-wrapper.svelte-1v6kw7k .pseudo-table .row {
	padding-block: .5rem;
	padding-inline: 1rem;
	color: var(--greyscale-400, #adadb1);
	font-family: Inter;
	font-size: .875rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.25rem
}

.box-wrapper.svelte-1v6kw7k .pseudo-table .avatar {
	background-color: hsl(var(--web-color-greyscale-700));
	border-color: hsl(var(--web-color-greyscale-700))
}

.box-wrapper.svelte-1v6kw7k .pseudo-table .truncated {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.code-window.svelte-1v6kw7k.svelte-1v6kw7k.svelte-1v6kw7k {
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	opacity: 0
}

.controls.svelte-1v6kw7k.svelte-1v6kw7k.svelte-1v6kw7k {
	position: relative;
	border-radius: var(--m-border-radius);
	--m-border-radius: 1rem;
	--m-border-gradient-before: linear-gradient(180deg, rgba(255, 255, 255, .12) 0%, rgba(255, 255, 255, 0) 125.11%);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	background: #ffffff14;
	box-shadow: 0 0 #0000000f, -2px 4px 9px #0000000f, -8px 15px 17px #0000000d, -19px 34px 23px #00000008, -33px 60px 27px #00000003, -52px 94px 30px #0000;
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px)
}

.controls.svelte-1v6kw7k.svelte-1v6kw7k.svelte-1v6kw7k:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--m-border-radius);
	border: var(--m-border-size, 1px) solid transparent;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	pointer-events: none;
	background: var(--m-border-gradient-before) border-box
}

.controls.svelte-1v6kw7k.svelte-1v6kw7k.svelte-1v6kw7k:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: var(--m-border-radius);
	border: var(--m-border-size, 1px) solid transparent;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
	pointer-events: none;
	background: var(--m-border-gradient-after) border-box
}

.outside.svelte-1kr0d3e.svelte-1kr0d3e {
	position: relative;
	overflow: hidden;
	display: none
}

.outside.svelte-1kr0d3e .img-overlay.svelte-1kr0d3e {
	content: "";
	background: linear-gradient(to bottom, transparent 0%, black 40%);
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 30rem;
	z-index: 10
}

@media (max-width: 1399px) {
	.outside.svelte-1kr0d3e.svelte-1kr0d3e {
		display: block
	}
}

.wrapper.svelte-1kr0d3e.svelte-1kr0d3e {
	--padding-inline: 1.25rem;
	padding-block-start: 5rem;
	padding-inline: var(--padding-inline);
	max-width: 600px;
	margin-inline: auto
}

.infos.svelte-1kr0d3e.svelte-1kr0d3e {
	margin-block-start: 3rem;
	display: flex;
	flex-direction: column;
	gap: 3rem
}

.infos.svelte-1kr0d3e .info h3.svelte-1kr0d3e {
	display: flex;
	align-items: center;
	gap: .75rem
}

.infos.svelte-1kr0d3e .info h4.svelte-1kr0d3e {
	color: hsl(var(--web-color-primary));
	margin-block-start: .75rem
}

.infos.svelte-1kr0d3e .info p.svelte-1kr0d3e {
	margin-block-start: 1rem
}

.infos.svelte-1kr0d3e .info .features.svelte-1kr0d3e {
	display: flex;
	flex-direction: column;
	gap: .75rem;
	margin-block-start: 2rem
}

.infos.svelte-1kr0d3e .info .features li.svelte-1kr0d3e {
	--marker-size: 1.25rem;
	--margin-left: calc(var(--marker-size) + .75rem);
	position: relative;
	margin-inline-start: var(--margin-left)
}

.infos.svelte-1kr0d3e .info .features li.svelte-1kr0d3e:before {
	content: "";
	position: absolute;
	left: calc(var(--margin-left) * -1);
	top: 50%;
	width: var(--marker-size);
	height: var(--marker-size);
	transform: translateY(-50%);
	background: url(../../../images/icons/colored/check.svg) no-repeat
}

.infos.svelte-1kr0d3e .info .img.svelte-1kr0d3e {
	inline-size: 100%;
	block-size: auto;
	margin-block-start: 2.5rem
}

.infos.svelte-1kr0d3e hr.svelte-1kr0d3e {
	border: 1px solid hsl(var(--web-color-smooth));
	margin-inline: calc(var(--padding-inline) * -1)
}

.post-wrapper.svelte-1kr0d3e.svelte-1kr0d3e {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: visible;
	position: relative;
	width: 100%;
	padding-block-start: 35rem;
	padding-block-end: 5rem
}

.post-wrapper.svelte-1kr0d3e img.svelte-1kr0d3e {
	display: block;
	max-block-size: unset;
	max-inline-size: unset;
	top: 5rem;
	left: 50%;
	transform: translate(-50%);
	width: 37.5rem;
	position: absolute
}

.post-wrapper.svelte-1kr0d3e h2.svelte-1kr0d3e {
	color: var(--greyscale-50, #ededf0);
	text-align: center;
	font-family: Aeonik Pro;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px;
	letter-spacing: -.48px;
	max-width: 20rem;
	position: relative;
	z-index: 100
}

.post-wrapper.svelte-1kr0d3e p.svelte-1kr0d3e {
	color: var(--greyscale-400, #97979b);
	text-align: center;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: -.072px;
	margin-block-start: 1rem;
	max-width: 20rem;
	z-index: 100
}